@page "/"

<PageTitle>Index</PageTitle>

<RadzenCard Style="width:100%; margin-bottom:20px; border-bottom:2px solid dodgerblue">
    <RadzenText TextStyle="TextStyle.H5" Style="margin-bottom: 2px;  font-weight:500; color:dimgray">Kigwaaaaaaaaaaaaaaaaa</RadzenText>
    <RadzenText TextStyle="TextStyle.Caption" Style="margin-top:0">Ambot ni tantan</RadzenText>
</RadzenCard>


<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
