<div class="col-4 position-fixed end-0 top-0"
     style="height:100vh; overflow:hidden;">
    <div class="table d-flex justify-content-between align-items-center border-bottom border-top">
        <div class="">
            <h5 class="mb-0 table-h1">Table</h5>
            <span class="table-span">Floyd Miles</span>
        </div>
        <div class="d-flex bg-danger justify-content-between align-items-center">
            <i class="bi bi-pencil"></i>
        </div>
    </div>
    <div class="dine d-flex justify-content-between border-bottom">
        <button class="dine-button">Dine in</button>
        <button class="dine-button">Dine in</button>
        <button class="dine-button">Dine in</button>
    </div>
    <div class="scrollable">
    </div>
    <div class="subtotal">
    </div>
</div>